# 조건문  
- 특특정  조건건에  코드를 실행하고자 할때 사용
- if, else, elif

In [1]:
# 조건 부분 : bool 이외의 데이터 타입이 와도 bool로 형변환 된다.

if False:
    print("python")
    
print("done")

done

In [7]:
# int : 0 을 제외한 나머지 값은 TRUE
bool(0), bool(1), bool(-1)

(False, True, True)

In [8]:
num = 0

if num:
    print("python1")

num = 1

if num:
    print("python2")

python2

In [20]:
# float : 0.0 을 제외한 나머지 실수는 True
# str : ""를 제외한 나머지 문자열은 TRUE
# list, tuple, dict : [], (), {}를 제외한 나머지는 TRUE

In [10]:
# 지갑에 10000원 이상 있으면 택시를 탄다
# 2000원 이상 10000원 미만이면 버스를 탄다
# 안 그러면 걸어간다

In [15]:
money = int(input())

if money >= 10000:
    print("택시를 타자")

elif money >= 2000:
    print("버스를 타자")

else:
    print("걸어가..")

2000
버스를 타자

# 삼항 연산자
- 간단한 if, else 구문을 한줄의 코드로 표현 가능한 방법
- (True) if (condition) else (False)

In [21]:
data = 1 
if data:
    print("not zero")
else :
    print("zero")

not zero

In [22]:
data = 0 
result = "not zero" if data else "zero"
result

'zero'

# 반복문 
- 반복되는 코드를 실행
- while, for, break, continue
- list comprehention

In [24]:
# while
data = 3 

while data :
    print(data)
    data -= 1

3
2
1

In [26]:
# 무한 루프 
# break : 반복문 중단 시킬때 사용
result = 1 

while result:
    
    if result >= 10:
        break 
    result +=1

print(result)

10

# for 
- iterable한 값을 하나씩 꺼내서 variable 을 대입한후 코드를 iterable 변수의 값 만큼 실행

In [29]:
# for: continue : 조건 부분으로 올라가서 코드가 실행
ls = [0, 1, 2, 3, 4]
for data in ls:
    if data %2 : #data 홀수이면
        continue
    
    print(data, end = " ")

0 2 4

In [30]:
# range 함수
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [31]:
list(range(5,10))

[5, 6, 7, 8, 9]

In [33]:
list(range(5,10, 2))

[5, 7, 9]

In [34]:
list(range(10, 0, -2))

[10, 8, 6, 4, 2]

In [36]:
result = 0
for number in range(0, 11, 2):
    result += number

print(result)

30

In [37]:
point_dict = {"korean":80, "english":90, "math":100}

In [38]:
list(point_dict)

['korean', 'english', 'math']

In [39]:
list(point_dict.keys())

['korean', 'english', 'math']

In [40]:
list(point_dict.values())

[80, 90, 100]

In [43]:
list(point_dict.items())

[('korean', 80), ('english', 90), ('math', 100)]

In [47]:
for subject, point in point_dict.items():
    print(subject, point)

korean 80
english 90
math 100

In [52]:
# for문에서 iterable 데이터가 tuple로 나오면 여러개의 변수로 받을수 있습니다.
subjects_ls = ["korean", "english", "math"]
points_ls = [80, 90, 100]
for subject, point in zip(subjects_ls, points_ls):
    print(subject, point)

korean 80
english 90
math 100

In [54]:
# 구구단 출력

In [53]:
for num2 in range(1, 10):
    for num1 in range(2, 10):
        print("{}*{}={}".format(num1, num2, num1*num2), end="\t")
    print()

2*1=2	3*1=3	4*1=4	5*1=5	6*1=6	7*1=7	8*1=8	9*1=9
2*2=4	3*2=6	4*2=8	5*2=10	6*2=12	7*2=14	8*2=16	9*2=18
2*3=6	3*3=9	4*3=12	5*3=15	6*3=18	7*3=21	8*3=24	9*3=27
2*4=8	3*4=12	4*4=16	5*4=20	6*4=24	7*4=28	8*4=32	9*4=36
2*5=10	3*5=15	4*5=20	5*5=25	6*5=30	7*5=35	8*5=40	9*5=45
2*6=12	3*6=18	4*6=24	5*6=30	6*6=36	7*6=42	8*6=48	9*6=54
2*7=14	3*7=21	4*7=28	5*7=35	6*7=42	7*7=49	8*7=56	9*7=63
2*8=16	3*8=24	4*8=32	5*8=40	6*8=48	7*8=56	8*8=64	9*8=72
2*9=18	3*9=27	4*9=36	5*9=45	6*9=54	7*9=63	8*9=72	9*9=81

# list comprehention
- 리스트 데이터를 만들어주는 방법
- for문과 유사하고, for문 보다 빠르다

In [59]:
%time
ls = [0, 1, 2,  3]
result = []

for data in ls:
    result.append(data**2)

result

CPU times: user 4 µs, sys: 1 µs, total: 5 µs
Wall time: 7.87 µs

[0, 1, 4, 9]

In [60]:
%time
ls = [0, 1, 2,  3]
result = []

result = [data**2 for data in ls]
result

CPU times: user 3 µs, sys: 1 µs, total: 4 µs
Wall time: 5.72 µs

[0, 1, 4, 9]

In [61]:
ls = [1, 2, 3]
[func for func in dir(ls) if func[:2] != "__" and func[0] == "c"]

['짝수', '홀수', '짝수', '홀수']

In [64]:
# 리스트 컴프리헨션을써서 홀수와 짝수를 리스트로 출력해주는 코드
# 삼항연산 사용
ls = [0, 1, 2, 3]
# result = ["짝수", "홀수", "짝수", "홀수"]

result = [
    "홀수" if data % 2 else "짝수"
    for data in ls
]
result

['짝수', '홀수', '짝수', '홀수']

In [ ]:
# 삼항 연산자!
result = "not zero" if data else "zero"

In [1]:
# 리스트 컴프리헨션 조건문
ls = range(10)
[data for data in ls if data%2]

[1, 3, 5, 7, 9]

In [3]:
ls = [1, 2, 3]
[func for func in dir(ls) if func[:2] != "__" and func[0] == "c"]

['clear', 'copy', 'count']

In [4]:
# for문과 list comprehention 성능 비교!

In [5]:
%%timeit
ls = []
for num in range(1, 100001):
    if num % 3 == 0:
        ls.append(num)

5.82 ms ± 210 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [6]:
%%timeit
ls = [num for num in range(1, 100001) if num %3 == 0]

5.1 ms ± 104 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)